body {
    background-color: lightslategrey;
    min-height: 95dvh;
    width: 98%;
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace SC', Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
}

#header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 100px;
}

#start-end {
    display: flex;
    justify-content: center;
    position: absolute;
}

#game-results {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 10px 10px rosybrown;
    width: 400px;
    height: 100px;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

#selection-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin: 60px auto;
}

#round-container {
    margin-left: auto;
    margin-right: 10%;
}

#rock {
    background: url('../images/icons8-rock-80.png') aliceblue no-repeat center;
    font-weight: bolder;
}

#paper {
    background: url('../images/icons8-paper-80.png') aliceblue no-repeat center;
    font-weight: bolder;
}

#scissors {
    background: url('../images/scissors.png') aliceblue no-repeat center;
    font-weight: bolder;
}

.score {
    display: none;
    text-align: center;
}

.game-selection {
    font-family: 'Bruno Ace SC', cursive;
    border: 2px solid black;
    border-radius: 8%;
    box-shadow: 0 10px 10px rosybrown;
    margin-left: 5%;
    background-color: aliceblue;
    height: 50px;
    width: 100px;
}

.pick-selection {
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 10px 10px rosybrown;
    padding: 2px 8px;
    background-color: aliceblue;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: 'Bruno Ace SC', cursive;
}

.game-selection:hover {
    box-shadow: 0 10px 10px rgb(73, 121, 250);
}

.pick-selection:hover {
    box-shadow: 0 10px 10px goldenrod;
}